<div class="row h-100">
    <div class="col-auto align-self-center">
        <button type="button" class="btn btn-link menu-btn text-color-theme" (click)="menuopen()">
            <i class="bi bi-list size-24"></i>
        </button>
    </div>
    <div class="col text-center">
        <img src="assets/img/LOGOUOS.png" alt="" class="img">
    </div>
    <div class="col-auto align-self-center">
        <a routerLink="/profile" class="link text-color-theme">
            <i class="bi bi-person-circle size-22"></i>
        </a>
    </div>
</div>